<h1>Add/Edit post</h1>

<div id="mainform">

        <form action="/posts/{{post.id}}" method="POST" class="edit-post">
          <input type="hidden" name="id" value="{{post.id}}">
         
            <fieldset>
            <legend>Post Information:</legend>     
              
                <label>Title:</label>
                <input class="title" name="title" value="{{post.title}}">
              
                <label>Content:</label>
                <textarea name="content" rows="6" wrap=soft value="{{post.content}}"></textarea>
             
                <input type="submit">
			</fieldset>
		</form>
</div>