@charset "utf-8";
/* CSS Document */

/* RESETS */

body, body * {
	margin: 0;
	padding: 0;
}

a img {
	border: 0;
}

a {
	text-decoration: none;
}

/* END RESETS */


body {
	font-family:Georgia,serif;
	font-size:100%;
	color:#4e443c;
	font-weight: 400;
	line-height: 1.45;
  	padding-bottom:1.25em; /*20px /16px */
}

html {
   font-size: 1em;
}

/* HEADINGS */

p {
	margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
  margin-bottom:.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.441em;
}

h1 span {
   display:none;
}

h2 {
	font-size: 1.953em;
}

h3 {
	font-size: 1.563em;
}

h4 {
	font-size: 1.25em;
}

small, .font_small {
	font-size: 0.8em;
}


/* END HEADINGS */

/* LAYOUT */

#wrapper {
	max-width:1200px;
	margin:0 auto;
	overflow:hidden;
	width:100%;
}



#content {
	width:90%;/*480px / 740*/
	font-size:1.1em;
	padding-left:20px; /*older browsers*/
	padding-left:1.25rem; /*20px /16px */
    padding-right:20px; /*older browsers*/
	padding-right:1.25rem; /*20px /16px */
}

/* END LAYOUT */


/* NAV */

#nav-main {
	width:100%;
	display: block;
	padding-top:1.25rem; /*20px /16px */
	padding-bottom:1.25rem; /*20px /16px */
	border-bottom:2px solid #CACACA;
	height:1.4em;
	font-family:Arial,sans-serif;
	clear:both;
    margin-bottom: 1.25rem;
}

#nav-main li {
	list-style-type: none;
	line-height:1.4em;
	float:left;
	width:15%;  /*100/ number of list items*/
	text-align:center;
}

#nav-main ul{
	margin:0;
	padding:0;
    font-weight: 600;
}

#nav-main a{
	letter-spacing:3px;
	display:block;
	color:rgba(78,68,60,.5);
	border-right: 2px solid #788cb8;
}

#nav-main li:last-child a{
  border-right: none;
}

/* END NAV */

/* FOOTER */

footer {
		width:100%;
		margin:0 auto;
		height:3em;
		line-height:3em;
		clear:both;
		color:rgba(78,68,60,.5);
}


footer ul li{
		display:inline;
		color:#999;
		font-size:.9em;
}


footer ul li a{
		color:#999;
		text-decoration:none; /*removes the underline from list item*/
}

footer ul li a:hover {
		background:white;
}

/* END FOOTER */



/* LISTS */

ul {
margin-left: 1.25em;
}

ol {
   margin-left: 1.75em;
}-->

p, ol, ul, dl {
  margin-bottom: 1.3em;
}

li {
  margin-bottom: 0.25em;
}


#primary ul, #secondary ul {
    list-style-type: none;
	margin-left:0px;
}

/* EMD LISTS */


/* LINKS */

a:link,
a:visited {
	color: #625090; /* violet */
	text-decoration: none;
}

a:hover,
a:focus {
	color: #000F60; /*purple*/
	text-decoration: none;
}

nav a:hover strong,
nav a:focus strong {
	color:#625090;/* violet */
}

footer ul li a:hover,
footer ul li a:focus {
	color:#625090;/* violet */
}

/* END LINK STYLES */

/* TEXT INPUT */

#mainform {
	width:950px;	
	padding-left:10px;
	padding-bottom:20px;	
}

legend   {
	background-color:#778899	;
	border-radius:10px;
	padding:10px;
	width:20%;
}

input[type=submit]   {
	display:block;
	margin-top:10px;
	padding:5px;
	font-size:100%;
}

fieldset {
	background-color:white;
	border-radius: 10px;
	padding:10px 15px 10px 10px;
	margin:0 40px;
}


label {
	display: block;
	padding-top:10px;
	padding-bottom:5px;

}

input[type=text], input[type=password] {
	display: block;
	width:30%;
	margin-bottom:10px;
	height:24px;
}

.title{
	width:50%;
	height:24px;
	}

fieldset p {
display:inline;
margin-right:5px;
margin-bottom:10px;	
}


legend   {
	background-color:#778899	;
	border-radius:10px;
	padding:10px;
	width:20%;
}



input[type=submit]   {
	display:block;
	margin-top:10px;
	padding:5px;
	font-size:100%;
}

textarea {
	width:100%;
}


/* END TEXT INPUT */

/*POSTS*/

.border
{
    border: 1px solid #c7c7c7;
    margin-bottom:10px;
    padding-left: .7rem; 
    padding-top: .5em;
} 

.post{
padding-bottom:3.5em;
}
/*END POSTS*/
